.header-container {
  background-color: #3367d6;
  height: 12vh;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 30px;
  width: 120px;
  margin-left: 50px;
  margin-top: 5px;
}
.input-container {
  display: flex;
  background-color: #2850a7;
  border: 2px solid #6697ff;
  border-radius: 10px;
  height: 45px;
  width: 400px;
  margin-bottom: 15px;
  margin-right: 200px;
}
.search-icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-top: 5px;
}
.search-input {
  color: #475569;
  font-size: 20px;
  background-color: transparent;
  margin-left: 20px;
  border-width: 0px;
}
.app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px 0px #bfbfbf;
  width: 80%;
  border-radius: 5px;
}
.error {
  text-align: center;
  color: #64748b;
  font-size: 25px;
}
